* {
    text-align: center;
}
.heading {
    font-family: Arial;
    margin-top:40vh;
}
.url, .download-button {
    font-size:1.5em;
    padding:10px 15px;
}
.url {
    border-radius:4px 0px 0px 4px;
    width:30em;
    text-align: left;
    border:2px solid #EEEEEE;
    background: #dbd9d9;
    outline:none;
}
.url:focus {
    border:2px solid #0485ff;
}
.download-button {
    border-radius:0px 4px 4px 0px;
    background: #69c225;
    color:white;
}